header{
    text-align: center;
    font-size: 250%;
    color: blue;
}

#BOX1{
    height: 350px;
    width: 30%;
    border: 5px solid;
    background-color:aquamarine;
    text-align: right;
    position: relative;
    margin:10px;
    flex-direction: column;
    float: left;

}
    #BOX2{
        height: 40px;
        width: 100px;
        border: 1px solid;
        background-color: purple;
        text-align: right;
        font-size: larger;
        position: absolute;
        left: 10px;
}
#JSS1{text-align: left;
    margin: 50PX;
    height: 30px;
    float: inline-start;


}
    #BOX3{
        height: 350px;
        width: 30%;
        border: 5px solid;
        background-color: rgb(13, 221, 58);
        text-align: RIGHT;
        font-size: larger;
        margin: 10PX;

        position: relative;
        flex-direction: column;
        float: left;

    }
    #BOX4{
        height: 40px;
        width: 100px;
        border: 1px solid;
        background-color: rgb(199, 19, 19);
        text-align: RIGHT;
        font-size: larger;

        position: absolute;
        left: 180px;
    

    }
    #JSS2{text-align: left;
        margin: 50PX;
        height: 30px;
        float: inline-start;}
    
    #BOX5{
        height: 350px;
        width: 30%;
        border: 5px solid;
        background-color: rgb(10, 93, 201);
        text-align: RIGHT;
        font-size: larger;
        margin: 10px;

        position: relative;
        flex-direction: column;
        float: right;

    }
    #BOX6{
        height: 40px;
        width: 100px;
        border: 1px solid;
        background-color: rgb(180, 10, 10);
        text-align: RIGHT;
        font-size: larger;

        position: absolute;
        left: 180px;

    }
    #JSS3{text-align: left;
        margin: 50PX;
        height: 30px;
        float: inline-start;}
    


